/* color code
red : E51D1D
black : 000000
white : ffffff
*/

.bg-red{
    background-color: #e51d1d;
}

.color-red{ 
    color: #e51d1d;
}


.container-lg .navbar-brand{
    color: #000;
    font-weight: bold;
    font-size: 1.5rem;
}

.container-lg .navbar-brand span{
    color: #e51d1d;
    font-weight: bold;
}

.home-text span{
    color: #e51d1d;
}

.navbar .nav-item{
    padding: 0  15px;
}

.navbar .nav-item .nav-link{
    color: #000000;
    font-weight: 500;
}
.navbar .nav-item .nav-link:hover{
    color: #e51d1d
}

.navbar .cart-icon{
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}
.navbar .cart-icon:hover{
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, .75);
}

/* about */
.about-text span{
    color:#e51d1d;
    
}
/* service */
.section-title span{
    color:#e51d1d;
}
/* contact */
.contact span{
    color:#e51d1d;
    font-weight: 500;
}
/* footer */
.footer_text span{
    color:#e51d1d;
}

/* service */
.services .service-item:hover{
    box-shadow: -1px 9px 20px -12px rgba(0, 0, 0, .5);
}

.services .text-muted span{
    color: #e51d1d;
    font-weight: 500;
}

/* menu */
.menus .menu-item:hover{
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, .75);
}
